*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #cccbcb 35%, rgba(128, 0, 255) 100%);
}
.container{
    height: 260px;
    background: #8800ff;
    max-width: 460px;
    padding: 16px 25px;
    transition: height 0.5s ease;
}
.container.active{
    height: 530px;
}
header h1{
    text-align:center;
    font: weight 600px;
    font: size 28px;
}
header p{
    color:#ffffff;
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
}
.container.form{
   padding: 20px 0 25px;
}
.container :where(input,button){
     width: 100%;
    height: 55px; ;
    border:none ;
    outline:none;
    border: radius 7px;;
}
.form input{
    padding: 0 17px;
    font-size: 18px;
    border: 1px solid #ffffff;
}
.form button{
    color: #d397f8;
    background: #a91fff ;
    margin-top: 20px;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.form button:hover{
    background: #ffffff;
}
h1{
    color: #ffffff;
}
.container.qr-code{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 33px  0;
    pointer-events: none;

}
